body {
    background-color: #f7f7f7;
}

.container {
    margin-top: 50px;
}

h2 {
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
    margin-bottom: 30px;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

.radio-group label {
    margin-right: 20px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

#feedback {
    font-weight: bold;
    font-size: 24px;
    margin-top: 30px;
}

.info-list {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
}

.info-list li {
    margin-bottom: 10px;
}

.info-list span {
    font-weight: bold;
    margin-left: 10px;
}